<html lang=en ng-app="dveri" ng-controller="MainCtrl" scroll>
  <meta charset=utf-8>
  <meta name="viewport" content="width=1164px, initial-scale=1.0">
  <title>Краснодеревщик - Екатеринбург</title>
  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <link rel=stylesheet href='css/avaelstrap.css'>
  <link rel=stylesheet href='css/style.css'>
  <link rel=stylesheet href="css/jquery.bxslider.css">
  <link rel="stylesheet" href="fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
  <script src="scripts/lib/jquery-1.10.2.min.js"></script>
  <script src="scripts/lib/angular.min.js"></script>
  <script src="scripts/lib/lodash.min.js"></script>
  <script src="scripts/lib/angular-route.min.js"></script>
  <script src="scripts/lib/jquery.maskedinput.min.js"></script>
  <script src="scripts/lib/jquery.bxslider.min.js"></script>
  <script src="scripts/lib/angular-scroll.min.js"></script>
  <script type="text/javascript" src="fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
  <script>
    $(function()
    {
        $(".bxslider1").bxSlider({
          auto: true,
          pause: 5000,
          autoHover: true,
          autoDelay: 1000,
          responsive: false,
          pager: false
        });
    });
  </script>
  <script>
    $(function()
    {
        $(".bxslider2").bxSlider({
          auto: true,
          pause: 5000,
          autoHover: true,
          autoDelay: 1000,
          responsive: false,
          pager: false
        });
    });
  </script>
  <script>
    $(".certs a").fancybox();
  </script>
 
  <section class="header">
    <div class="wrapper">
      <div class="logo-and-address">
        <div class="logo">
          <img src="images/logo.png" />
          Продаем и устанавливаем двери с 2009 года
        </div>
        <div class="right">
          <a href="#salons" offset="59" du-smooth-scroll><button>Адреса в Екатеринбурге</button></a>
          <div class="phone">
            <a href="tel: +73432260045">+7 (343) 226-00-45</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="stairs2"></div>

  <section class="main" id="sale">
    <div class="wrapper">
      <!--<h1>Дарим путешествие стоимостью<br>80 000 рублей</h1>
      <h3>акция действует до конца июня</h3>
      <form>
        <h3>Оставьте заявку на участие в акции</h3>
        <input type="text" class="form-name" id="main-name" placeholder="Ваше имя" ng-model="names['main']"></input>
        <input type="text" input-mask class="form-phone" id="main-phone" placeholder="Ваш телефон" ng-model="phones['main']"></input>
        <input type="text" class="form-mail" id="main-mail" placeholder="Ваш e-mail" ng-model="emails['main']"></input>
        <button type="button" id="main-name" class="button-red" type="submit" ng-click="yaCounter31342613.reachGoal('action_lp');sendData(this,'акция', 'main', false)">ПОЛУЧИТЬ</button>
      </form>-->
      <button class="button-green" ng-click="openLeadPopup('Узнать подробности акции', 'Узнать подробности акции', 'Хочу подарок!')"><b>УЧАСТВОВАТЬ<br>В АКЦИИ</b></button>
    </div>
  </section>

  <div id="menu-placeholder" ng-show="fixedMenu"></div>

  <section class="menu" ng-class="{fixed:fixedMenu}">
    <div class="wrapper">
      <nav>
        <ul>
          <li><a href="#sale" du-scrollspy offset="110" du-smooth-scroll>Акция месяца</a></li>
          <li><a href="#catalog" du-scrollspy offset="59" du-smooth-scroll>Каталог дверей</a></li>
          <li><a href="#advices" du-scrollspy offset="59" du-smooth-scroll>Советы по подбору</a></li>
          <li><a href="#struct" du-scrollspy offset="59" du-smooth-scroll>Структура дверей</a></li>
          <li><a href="#reviews" du-scrollspy offset="59" du-smooth-scroll>Отзывы клиентов</a></li>
          <li><a href="#salons" du-scrollspy offset="59" du-smooth-scroll>Контакты салонов</a></li>
        </ul>
      </nav>
    </div>
  </section>

  <section class="catalog" id="catalog">
    <div class="wrapper" style="width: 100%; padding: 0px; overflow-x: hidden;">
      <h2>самые популярные модели<br>января-апреля 2015 года</h2>
      <div class="doors">
        <div class="door" ng-repeat="door in doors" ng-class="{moveleft: selectedDoorIndex > 2 && $index < selectedDoorIndex, moveright:selectedDoorIndex < 3 && $index > selectedDoorIndex, right3: $index > 2}" ng-click="setSelectedDoor($index)">
          <div class="info" ng-class="{active: selectedDoorIndex==$index}">
            <img class="image" ng-src="images/doors/{{door.cover_image}}"></img>
            <div class="text-block">
              <div class="params">
                Производитель:<br>
                <span ng-if="door.config != ''">Конфигурация:<br></span>
                Заполнение:<br>
                Покрытие:<br>
                Конструкция:<br>
                Открывание:<br>
                Комплектующие:<br>
                Размеры:
              </div>
              <div class="properties">
                {{door.manufacturer}}<br>
                <span ng-if="door.config != ''">{{door.config}}<br></span>
                {{door.filling}}<br>
                {{door.cover}}<br>
                {{door.construction}}<br>
                {{door.opening}}<br>
                {{door.set}}<br>
                {{door.sizes}}
              </div>
              <div class="columns colors">
                <div class="column color" ng-repeat="color in door.colors">
                  <img ng-src="images/colors/{{colors[color.key].image}}" alt="{{colors[color.key].name}}" width="64" height="64" ng-click="$event.stopPropagation(); changeColor(color.image,doors.indexOf(door))"/>
                  {{colors[color.key].name}}
                </div>
              </div>
            </div>
            <div class="button-block">
              <button class="button-red" ng-click="openLeadPopup('Консультация - дверь '+door.title,'Консультация менеджера','Получить')">Консультация менеджера</button>
            </div>
          </div>
          <div class="shadow"></div>
          <div class="door-title">{{door.title}}</div>
        </div>
      </div>
    </div>
  </section>

  <section class="pros">
    <div class="wrapper columns">
      <h2>Двери по ценам официального производителя<br>с гарантией до 5 лет</h2>
      <div class="column" class="advances-list" style="margin-left: 0px; width: 392px;">
        <div class="qweqweqwe" style="width: 335px"></div>
        <div class="advance" fadein="0">
          <div class="advance-icon" style="background-position: 0px 0px;"></div>
          <div class="advance-title">Полотно царговой конструкции</div>
          <div class="advance-subtitle">Придаёт двери дополнительную прочность,<br>исключая деформацию дверного полотна.</div>
        </div>
        <div class="advance" fadein="200">
          <div class="advance-icon" style="background-position: 0px -75px;"></div>
          <div class="advance-title">Тепло и барьер для запахов</div>
          <div class="advance-subtitle">Уплотнитель по всему периметру дверной<br>коробки сохраняет тепло и препятствует<br>проникновению посторонних запахов.</div>
        </div>
        <div class="advance" fadein="400">
          <div class="advance-icon" style="background-position: 0px -150px;"></div>
          <div class="advance-title">ПВХ-покрытие</div>
          <div class="advance-subtitle">Не выгорает под прямыми лучами, устойчиво к<br>царапинам и влаге. Подходит для ванных комнат.</div>
        </div>
      </div>
      <div class="column advances-picture">
      </div>
      <div class="column" class="advances-list" style="margin-left:30px; width:335px;">
        <div class="advance" fadein="600">
          <div class="advance-icon" style="background-position: -115px 0px;"></div>
          <div class="advance-title">Открывание в любую сторону</div>
          <div class="advance-subtitle">Сторона открывания определяется в момент<br>установки.</div>
        </div>
        <div class="advance" fadein="800">
          <div class="advance-icon" style="background-position: -115px -75px;"></div>
          <div class="advance-title">Эстетичный вид</div>
          <div class="advance-subtitle">Коробка телескоп позволяет оформлять дверной<br>проем без применения дополнительных<br>крепежей гвоздей и шурупов.</div>
        </div>
        <div class="advance" fadein="1000">
          <div class="advance-icon" style="background-position: -115px -150px;"></div>
          <div class="advance-title">Бесшумная эксплуатация</div>
          <div class="advance-subtitle">Специальное крепление стекла обеспечивает<br>отсутствие дребезжания при эксплуатации двери.</div>
        </div>
      </div>
    </div>
    <div class="clear" style="clear: both;"></div>
  </section>

  <section class="leadform">
    <div class="wrapper columns">
      <div class="column">
        <img src="images/magazine.jpg" alt='magazine'/>
      </div>
      <div class="column">
        <h2>Самый полный каталог дверей<br>с актуальными ценами</h2>
        <button class="button-red" ng-click="openLeadPopup('Получить каталог','Получить каталог','Получить')">ПОЛУЧИТЬ</button>
      </div>
    </div>
  </section>

  <section class="advices" id="advices">
    <div class="wrapper">
      <h2>7 важных ответов про подбор двери</h2>
      <div class="advices-columns">
        <div class="columns" style="padding-left:33px;">
          <div class="column">
            <div class="advice-title">Как выбрать дверь?</div>
            <div class="plus" ng-class="{minus: currentPlus == 0, sonar: currentPlus != 0}" ng-click="togglePlus(0)"></div>
            <div class="triangle-isosceles" ng-class="{show: currentPlus == 0}">
            • Универсальная высота проёма – 2,08м, дверная коробка всегда перекроется наличником.<br>
            • Подбирайте двери уже после того, как определитесь с мебелью.<br>
            • Не пугайтесь контрастов - светлые двери в темном интерьере станут его изюминкой.<br>
            • Экспериментируйте - например, стеклянные двери визуально увеличат пространство.

            </div>
          </div>
          <div class="column">
            <div class="advice-title">Что делать, если<br>дверь потеряла вид<br>или сломалась?</div>
            <div class="plus" ng-class="{minus: currentPlus == 1, sonar: currentPlus != 1}" ng-click="togglePlus(1)"></div>
            <div class="triangle-isosceles" ng-class="{show: currentPlus == 1}">
            Гарантия на различные двери и фурнитуру составляет до 5 лет, в течение этого времени, в случае, если что-то случится, предусмотрена замена изделия или его ремонт.
            </div>
          </div>
          <div class="column">
            <div class="advice-title">Как скоро я получу<br>свои двери?</div>
            <div class="plus" ng-class="{minus: currentPlus == 2, sonar: currentPlus != 2}" ng-click="togglePlus(2)"></div>
            <div class="triangle-isosceles" ng-class="{show: currentPlus == 2}">
            Если вы покупаете двери из наличия, то доставлены к вам домой они могут быть уже в этот день, установка и монтаж будет произведена через 1-2 дня.<br>
            Если вы покупаете двери под заказ, то срок доставки и монтажа составит около 30 рабочих дней.
            </div>
          </div>
          <div class="column">
            <div class="advice-title">Какие модели дверей<br>есть у вас в наличии?</div>
            <div class="plus" ng-class="{minus: currentPlus == 3, sonar: currentPlus != 3}" ng-click="togglePlus(3)"></div>
            <div class="triangle-isosceles" ng-class="{show: currentPlus == 3}">
            Мы держим в наличии наших салонов двери самых популярных моделей и расцветок: Белые, Венге, Чёрный дуб, Грейвуд, а так же стеклянные двери и раздвижные системы, всего в наличии представлено около 70 моделей.
            </div>
          </div>
        </div>
        <div class="clear" style="clear: both;"></div>
        <div class="columns" style="padding-left:161px;">
          <div class="column">
            <div class="advice-title">Сколько стоит<br>установка двери?</div>
            <div class="plus" ng-class="{minus: currentPlus == 4, sonar: currentPlus != 4}" ng-click="togglePlus(4)"></div>
            <div class="triangle-isosceles" ng-class="{show: currentPlus == 4}">
            Монтаж одного проёма обойдётся в 2 500 рублей, без каких-либо доплат.
            </div>
          </div>
          <div class="column">
            <div class="advice-title">Можно ли купить<br>дверь в кредит?</div>
            <div class="plus" ng-class="{minus:currentPlus == 5, sonar: currentPlus != 5}" ng-click="togglePlus(5)"></div>
            <div class="triangle-isosceles" ng-class="{show: currentPlus == 5}">
            Вы можете приобрести двери и фурнитуру в рассрочку без переплаты, срок выплат составит от 6 до 10 месяцев.
            </div>
          </div>
          <div class="column">
            <div class="advice-title">как мне принять<br>участие в акции?</div>
            <div class="plus" ng-class="{minus: currentPlus == 6, sonar: currentPlus != 6}" ng-click="togglePlus(6)"></div>
            <div class="triangle-isosceles" ng-class="{show: currentPlus == 6}">
            Ежемесячно мы проводим акции, акция этого месяца представлена в начале страницы. С подробными условиями вы можете ознакомиться в наших салонах или позвонив нашим менеджерам.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="struct1" id="struct">
    <div class="wrapper">
      <h2>преимущества конструкции двери</h2>
      <div class="columns">
        <div class="column">
          СОТОВОЕ ЗАПОЛНЕНИЕ<br>
          (Каркасные двери)
        </div>
        <div class="column" style="float: right; margin-right: 20px;">
          КОМБИНИРОВАННОЕ ЗАПОЛНЕНИЕ<br>
          (Царговые двери)
        </div>
      </div>
    </div>
  </section>

  <section class="struct-pic">
    <div class="wrapper">
    </div>
  </section>

  <section class="struct2">
    <div class="wrapper">
      <div class="columns">
        <div class="column" style="margin-left: 60px;">
          <ul>
            <li>Ячейка 15 мм,<br>Стандартная толщина 40 мм<br>Вес 1м/кв - 12 кг.</li>
            <li>Внутренний ячеистый наполнитель делается из картона или оргалита.</li>
            <li>Имеет структуру, напоминающую пчелиные соты.</li>
            <li>От размера ячейки в диаметре зависят основные свойства: прочность и шумоподавление.</li>
            <li>Чем плотнее материал и меньше размеры сот заполнителя, тем эти свойства выше.</li>
          </ul>
        </div>
        <div class="column" style="float:right; margin-right:60px;">
          <ul>
            <li>Сборная конструкция - LVL и облицовка панелями ДВП.<br>Стандартная толщина полотна 40 мм.<br>Вес 1м/кв - 28 кг.</li>
            <li>Основой двери являются вертикальные и горизонтальные царги, изготовленные из переклеенного массива древесины и MDF.</li>
            <li>Конструкция царговой двери представляет из себя две вертикальные стойки, которые соединены между собой поперечными брусками - царгами.</li>
            <li>Отличительной особенностью царговых полотен является...</li>
          </ul>
        </div>
      </div>
    </div>
  </section>


  <section class="reviews" id="reviews">
    <div class="wrapper" style="width: 100%; padding: 0px; overflow-x: hidden;">
      <div class="wrapper2" style="width: 1100px; margin: 0px auto;">
        <div class='slider left' style="margin-left: -90px;">
          <ul class='bxslider1'>
            <li style="background: url('images/rooms/bychkovy.jpg') no-repeat;">
              <div class="content">
                <div class="info">
                  Межкомнатные двери Краснодеревщик,<br>
                  серия 3000, модель 33.52, цвет черный дуб.<br>
                  <br>
                  Стоимость 4 комплектов дверей<br>
                  со скидкой <span class="yellow">42 843 руб.</span>
                </div>
                <div class="columns">
                  <div class="column">
                    <img src="images/clients/1.png" alt="счастливые клиенты компании Краснодеревщик"/>
                  </div>
                  <div class="column">
                    <div class="name">Александр и Юлия Бычковы</div>
                    <div class="comment">«Отличный вариант по цене и качеству + подход к работе с клиентами! Не мало важный момент, оплата по банковской карте и частями, пока идет товар.<br><br>

Сделали замеры и доставили в срок, только сама отделка квартиры затянулась, но дождался времени установки))) и мастера очень порадовали, особенно Александр!»</div>
                  </div>
                </div>
              </div>
            </li>
            <li style="background: url('images/rooms/president.jpg') no-repeat;">
              <div class="content">
                <div class="info">
                  Двери для бизнес-центров и офисных помещений выполняются под
                  заказ, каждый проект рассчитывается индивидуально.
                </div>
                <div class="columns">
                  <div class="column">
                    <img src="images/clients/3.png" alt="счастливые клиенты компании Краснодеревщик"/>
                  </div>
                  <div class="column">
                    <div class="name">Бизнес-центр «Президент»</div>
                    <div class="comment">Бизнес-центр премиум класса «Президент» полностью укомплектован продукцией Краснодеревщик - от межкомнатных дверей в таулеты и офисы до специальных противопожарных дверей.</div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class='slider right' style="margin-right: -90px;">
          <ul class='bxslider1'>
            <li style="background: url('images/rooms/vlaschitskie.jpg') no-repeat;">
              <div class="content">
                <div class="info">
                  Межкомнатные двери Краснодеревщик,<br>
                  серия 3000, модели 33.24, 33.23, цвет грецкий орех.<br>
                  <br>
                  Стоимость 12 комплектов дверей<br>
                  со скидкой <span class="yellow">130 542 руб.</span>
                </div>
                <div class="columns">
                  <div class="column">
                    <img src="images/clients/2.png" alt="счастливые клиенты компании Краснодеревщик"/>
                  </div>
                  <div class="column">
                    <div class="name">Дмитрий, Светлана<br>и Василий Влащицкие</div>
                    <div class="comment">«В Краснодеревщик обращались 2 раза, и оба раза остались довольны!<br>
                      <br>
Двери качественные, монтировали Александр и Сергей. Им особая благодарность, к установке подошли основательно, не спешили, каждую мелочь обговаривали с нами! Двери смотрятся богато! Очень понравились замки на последних дверях (закрываются мягко-не хлопают!). 
<br><br>
В общем двери классные! Обслуживание отличное! Монтаж качественный! Всем рекомендую!»</div>
                  </div>
                </div>
              </div>
            </li>
            <li style="background: url('images/rooms/zhukovy.jpg') no-repeat;">
              <div class="content">
                <div class="info">
                  Межкомнатные двери Краснодеревщик,<br>
                  серия 3000, модель 33.52, цвет выбеленный дуб.<br>
                  <br>
                  Стоимость 9 комплектов дверей<br>
                  со скидкой <span class="yellow">102 006 руб.</span>
                </div>
                <div class="columns">
                  <div class="column">
                    <img src="images/clients/4.png" alt="счастливые клиенты компании Краснодеревщик"/>
                  </div>
                  <div class="column">
                    <div class="name">Жуковы Александр, Надежда<br>и маленькая Антонина</div>
                    <div class="comment">«Мы заказали в Краснодеревщике все двери в квартиру, а так же входную дверь.<br>
<br>
Интерьер у нас светлый, поэтому мы выбрали выбеленный дуб, который обманчиво кажется марким, а на самом деле очень практичный - Тоня проверяет его на прочность каждый день.<br><br>

Дверями очень довольны!»</div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- <div style="float: left; width: 500px; margin-left: 80px; background-color: #f00; height: 100px;"></div>
      <div style="float: right; margin-right: -200px; background-color: #0f0; height: 100px; width: 500px"></div> -->
    </div>
  </section>

  <section class="flamp">
    <div class="wrapper">
      <a href="http://ekaterinburg.flamp.ru/firm/krasnoderevshhik_salon_mezhkomnatnykh_dverejj-1267165676679102#limit10" target="_blank"><button>Оставьте отзыв о нас на flamp</button></a>
    </div>
  </section>

  <section class="certs">
    <div class="wrapper">
      <h2>наши сертификаты и патенты</h2>
      <div class="columns">
        <div class="column">
          <a data-fancybox-href="images/certs/landing-opt-s1.jpg"><div class="cert" style="background-position: 0px 0px;"></div></a>
        </div>
        <div class="column">
          <a data-fancybox-href="images/certs/sertif-anti-fire.jpg"><div class="cert" style="background-position: -182px 0px;"></div></a>
        </div>
        <div class="column">
          <a data-fancybox-href="images/certs/sertifikat---2.jpg"><div class="cert" style="background-position: -364px 0px;"></div></a>
        </div>
        <div class="column">
          <a data-fancybox-href="images/certs/sertifikat---1.jpg"><div class="cert" style="background-position: -546px 0px;"></div></a>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <a data-fancybox-href="images/certs/landing-opt-s4.jpg"><div class="cert" style="background-position: 0px -265px;"></div></a>
        </div>
        <div class="column">
          <a data-fancybox-href="images/certs/landing-opt-s3.jpg"><div class="cert" style="background-position: -182px -265px;"></div></a>
        </div>
        <div class="column">
          <a data-fancybox-href="images/certs/sertif-san-epid.jpg"><div class="cert" style="background-position: -364px -265px;"></div></a>
        </div>
        <div class="column">
          <a data-fancybox-href="images/certs/landing-opt-s2.jpg"><div class="cert" style="background-position: -546px -265px;"></div></a>
        </div>
      </div>
    </div>
  </section>

  <section class="who">
    <div class="wrapper">
      <div class="center text-center">
        <img src="images/face.jpg" alt="Генеральный директор компании 'Краснодеревщик'"/>
        <p class="name">
          <br>
          <b>Леонид Чепелев</b>
          <br>
          <br>
          Генеральный директор компании <br>«Краснодеревщик»
        </p>
      </div>
      <div class="columns">
        <div class="column">
          Без преувеличения скажу, что двери «Краснодеревщик» - универсальный выбор для покупателя. Цена на них немного выше, чем на двери «эконом». Но по характеристикам они могут встать в ряд с элитными. Добавьте к этому превосходное качество заводской фурнитуры - и вы получите идеальную покупку. Лично в моем доме все двери — от фабрики «Краснодеревщик»!
          <br><br>
          Наша компания является официальным представителем фабрики «Краснодеревщик» в Уральском регионе. 
        </div>
        <div class="column">
          Магазины компании работают в Екатеринбурге вот уже более 4 лет. Интернет-магазин регулярно оформляет покупки для всех, кто предпочитает онлайн-систему заказов. Каждый месяц мы отгружаем более 2000 дверей. Услуги по доставке и монтажу работают безупречно: 94% покупателей дверей заказывают их сразу с установкой.
          <br><br><br>
          Благодарим вас за доверие, рекомендации и хорошие отзывы. 
        </div>
      </div>
      <div class="clear" style="clear: both;"></div>
      <div class="center text-center">
        <img src="images/logo.png" alt="Логотип компании Краснодеревщик" style="margin-bottom: 80px;"/>
      </div>
    </div>
  </section>

  <section class="salons" id="salons">
    <div class="wrapper">
      <h2>наши салоны в Екатеринбурге</h2>
      <div class="columns places">
        <div class="column" style="margin-left: 75px;">
          <div class="address">ул. Луначарского, 171</div>
          <img src="images/salon1.jpg" class="salon-pic" alt='Фотография салона Краснодеревшик на улице Луначарского'/>
          МЕНЕДЖЕРЫ САЛОНА:
          <div class="columns managers">
            <div class="column">
              <img src="images/salons_faces/lun_nafisa.png" alt='Фотография менеджера салона Краснодеревщик'/>
              Нафиса<br>Шадмонова
            </div>
            <div class="column">
              <img src="images/salons_faces/lun_olga.png" alt='Фотография менеджера салона Краснодеревщик'/>
              Ольга<br>Усманова
            </div>
            <div class="column">
              <img src="images/salons_faces/lun_alex.png" alt='Фотография менеджера салона Краснодеревщик'/>
              Александра<br>Китаева
            </div>
          </div>
          <div class="clear" style="clear: both;"></div>
          <button class="button-red" ng-click="openLeadPopup('Заказ звонка из салона на Луначарского 171','Заказать звонок','Позвоните мне!')">Заказать звонок из салона</button>
        </div>

        <div class="column" style="margin-left: 50px;">
          <div class="address">ул. Белинского, 168</div>
          <img src="images/salon2.jpg" class="salon-pic" alt='Фотография салона Краснодеревшик на улице Луначарского'/>
          МЕНЕДЖЕРЫ САЛОНА:
          <div class="columns managers">
            <div class="column">
              <img src="images/salons_faces/bel_gena.png" alt='Фотография менеджера салона Краснодеревщик'/>
              Геннадий<br>Белев
            </div>
            <div class="column">
              <img src="images/salons_faces/bel_anna.png" alt='Фотография менеджера салона Краснодеревщик'/>
              Анна<br>Окатьева
            </div>
            <div class="column">
              <img src="images/salons_faces/bel_elena.png" alt='Фотография менеджера салона Краснодеревщик'/>
              Елена<br>Лыскова
            </div>
          </div>
          <div class="clear" style="clear: both;"></div>
          <button class="button-red" ng-click="openLeadPopup('Заказ звонка из салона на Белинского 168','Заказать звонок','Позвоните мне!')">Заказать звонок из салона</button>
        </div>
      </div>
    </div>
  </section>

  <div class="stairs"></div>

  <section class="header">
    <div class="wrapper">
      <div class="logo-and-address">
        <div class="logo">
          <img src="images/logo.png" />
          Продаем и устанавливаем двери с 2009 года
        </div>
        <div class="right">
          <div class="phone">
            <a href="tel: +73432260045">+7 (343) 226-00-45</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="popup" ng-show="showThanks">
    <div class="block lead-popup">
      <span class="red">Благодарим за доверие!</span><br>
Наш менеджер свяжется с вами в ближайшее время.
    </div>
    <div class="closer" ng-click="closeAllPopups()">
    </div>
  </section>

  <section class="popup" ng-show="showLeadPopup">
    <div class="block lead-popup">
      <h3 class='red' ng-bind-html="showHtml(leadPopupText)"></h3>
      <div style="margin-bottom: 30px;">Наш менеджер свяжется с вами в ближайшее время.</div>
      <input type="text" class="form-input form-name" id="main-name" placeholder="Ваше имя" ng-model="names['popup']"></input>
      <input type="text" input-mask class="form-input form-phone" id="main-phone" placeholder="Ваш телефон" ng-model="phones['popup']"></input>
      <input type="text" class="form-input form-mail" id="main-mail" placeholder="Ваш e-mail" ng-model="emails['popup']"></input>
      <button class="button-red" ng-click="yaCounter31342613.reachGoal('action_lp');sendData(this, currentWhere, 'popup', false)">{{leadPopupButtonText}}</button>
    </div>
    <div class="closer" ng-click="closeAllPopups()">
    </div>
  </section>

  <script src="scripts/angular-controllers.js"></script>
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript">
  (function (d, w, c) {
      (w[c] = w[c] || []).push(function() {
          try {
              w.yaCounter31342613 = new Ya.Metrika({id:31342613,
                      webvisor:true,
                      clickmap:true,
                      trackLinks:true,
                      accurateTrackBounce:true});
          } catch(e) { }
      });

      var n = d.getElementsByTagName("script")[0],
          s = d.createElement("script"),
          f = function () { n.parentNode.insertBefore(s, n); };
      s.type = "text/javascript";
      s.async = true;
      s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

      if (w.opera == "[object Opera]") {
          d.addEventListener("DOMContentLoaded", f, false);
      } else { f(); }
  })(document, window, "yandex_metrika_callbacks");
  </script>
  <noscript><div><img src="//mc.yandex.ru/watch/31342613" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <!-- /Yandex.Metrika counter -->

</html>